!!! 5
%html
  %head
  %link{:rel => :stylesheet, :type => :"text/css", :href => "form.css"}
  %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
  %body
    .ltp
      %p hello, this is the demo (v0.1)
      %form{ :action => '/form', :method => 'post' }
        Input the word:
        %input{ :type => 'text', :name=> 'message', :placeholder => 'one word every time' }
        %br
        Input the top n results:
        %input{ :type => 'text', :name=> 'rank', :placeholder =>'n from 1 to 100' }
        %br
        TLP:
        %input{ :type => 'checkbox', :name =>'cat[]', :value => 'bltp' }
        %br
        ChineseLSA:
        %input{ :type => 'checkbox', :name =>'cat[]', :value => 'bchineselsa'  }
        %br
        TFIDF:
        %input{ :type => 'checkbox', :name =>'cat[]', :value => 'btfidf'}
        %br
        %input{ :type => 'submit'}
    .result
      - @data.each do |i,j|
        .inputword #{i}
        .cats{ :style => "width:#{@len*3}00px"}
          - j.each do |k,l|
            .category
              #{k}
              - l.each do |x,y|
                .row
                  .word #{x}
                  .sim #{y}
          .clear
